#LandingPage {
  font-weight: 1000;
  font-size: 15vw;
  color: var(--color1);
  padding: 3vw;
  box-sizing: border-box;
  line-height: 1em;
  font-size: clamp(1px, 16vw, 100px);
  font-family: "Archivo Black", sans-serif;
  min-height: 90vh;
}

.description {
  margin-top: 1em;
  font-size: clamp(20px, 8vw, 50px);
  line-height: 1em;
  width: 100%;
  font-family: "Poppins", sans-serif;

  font-weight: 500;
  color: var(--color2);
  -webkit-text-stroke: 1px var(--color1);
}

em {
  color: var(--color1);
  -webkit-text-stroke: 0px;
}
