.header {
  top: 0px;
  position: sticky;
  width: 100vw;
  height: clamp(40px, 8vw, 60px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color2);
  align-items: center;
}

.header > * {
  height: 100%;
  flex-grow: 1;
  text-align: center;
  line-height: clamp(40px, 8vw, 60px);
  font-weight: bold;
  font-size: clamp(10px, 3vw, 30px);
  color: var(--color1);
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: var(--color1);
  transition: all 0.3s;
}

.header > *:last-child {
  border-width: 0px 0px 2px 0px;
}

.header > *:hover {
  background-color: var(--color1);
  color: var(--color2);
}
