#landingPage {
  font-weight: 1000;
  font-size: 15vw;
  color: var(--color2);
  padding: 3vw;
  box-sizing: border-box;
  line-height: 1em;
  font-size: clamp(1px, 16vw, 100px);
  font-family: "Archivo Black", sans-serif;
  min-height: 90vh;
}

video {
  position: absolute;
  background-color: var(--color1);
  /* top: calc(clamp(40px, 8vw, 60px) + 2rem); */
  top: 2rem;
  left: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

.description {
  margin-top: 1em;
  font-size: clamp(20px, 8vw, 50px);
  line-height: 1em;
  width: 100%;
  font-family: "Poppins", sans-serif;

  font-weight: 500;
  color: transparent;
  -webkit-text-stroke: 1px var(--color2);
}

em {
  color: var(--color2);
  -webkit-text-stroke: 0px;
}
